@model ERPSystem_Models.StudentLoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CIIT_ERPSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CIIT_ERPSystem.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CIIT ERP System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                  
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" style="height:500px;">
    
                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Student Login</h4>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label>Email Address</label>
                                        <span style="color:red">@Html.ValidationMessageFor(e => e.email_address)</span>

                                        @Html.TextBoxFor(e => e.email_address, new { @class = "form-control" })
                                    </div>
                                    <div class="mb-3">
                                        <label>Password</label>
                                        <span style="color:red">@Html.ValidationMessageFor(e => e.password)</span>

                                        @Html.PasswordFor(e => e.password, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <input type="submit" value="Login" class="btn btn-primary" />
                                    <input type="reset" value="Clear" class="btn btn-danger" />
                                    <p style="color:red">@ViewBag.msg</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
    </div>
  
 

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CIIT_ERPSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

</body>
</html>


 