@model ERPSystem_Models.ExamModel
@{
    ViewData["Title"] = "ViewExamDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td
    {
        text-align:center;
    }

     

    .my-pre {
        line-height: 1.2em;
        /* background: linear-gradient(180deg,#ccc 0,#ccc 1.2em,#eee 0); */
        background-size: 2.4em 2.4em;
        border:1px solid gray;

        background-origin: content-box;
        /* some extra styles*/
        padding:  1%;
        text-align: justify;
        font-family: 'Bookman Old Style';
        font-size:14px;
    }
</style>

<div class="container">
   
    <div class="row">
        <table class="table table-bordered">
            <tr>
                <td>Topic Name:<br/><b>@Model.topic_name</b></td>
                <td>Exam Date:<br /><b>@Model.exam_date.ToShortDateString()</b></td>
                <td>Start Time:<br /><b>@Model.start_time.ToLongTimeString()</b></td>
                <td>End Time:<br /><b>@Model.end_time.ToLongTimeString()</b></td>
                <td>Total Questions:<br /><b>@Model.total_questions</b></td>
                <td>Correct Questions:<br /><b>@Model.total_correct_questions</b></td>
                <td>Wrong Questions:<br /><b>@Model.total_wrong_questions</b></td>
                <td>Percentage:<br /><b>@Model.percentage</b></td>
                <td>Grade:<br /><b>@Model.grade</b></td>
            </tr>
        </table>
    </div>
    <hr/>
    <div class="row">
        @{
            int i = 1;
        }
        @foreach(var q in Model.examQuestions)
        {
            string result = "",color="";
            if (q.submitted_option_number == q.correct_option_number)
            {
                result = "Correct";
                color = "green";
            }
            else
            {
                result = "Wrong";
                color = "red";

            }
            <div class="card">
                <div class="card-body">

                    <pre class="my-pre">
                       <span>@i</span> @q.question
                    </pre>
                    <ul class="list-group">
                        <li class="list-group-item"> <p>@q.option1</p></li>
                        <li class="list-group-item"> <p>@q.option2</p></li>
                        <li class="list-group-item"> <p>@q.option3</p></li>
                        <li class="list-group-item"> <p>@q.option4</p></li>
                    </ul>
                    <div class="row">
                        <div class="col-md-4">
                            Correct Option :<b> @q.correct_option_number</b>
                        </div>
                        <div class="col-md-4">
                            Submitted Option :<b> @q.submitted_option_number</b>
                        </div>
                        <div class="col-md-4">
                            Result:<b style="color:@color"> @result</b>
                        </div>

                        </div>
                    </div>
            </div>
            i++;
        }
    </div>
</div>

