@model IEnumerable<ERPSystem_Models.BatchStudentModel>
@{
    ViewData["Title"] = "Batches";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h5>Batch Details</h5>
@if(Model.Count()==0)
{
    <div class="toast  bg-warning text-white fade show " style="width:50%">
        <div class="toast-header  bg-warning text-white">
            <strong class="me-auto"><i class="bi-gift-fill"></i> Sorry!</strong>
       
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
            No Batch is allocated for you, contact to administrator 
        </div>
    </div>
}
@{
    int i = 1;
}
@foreach (var item in Model)
{
    <div class="card" style="padding:2%;font-size:small">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label>Batch Name:</label>
                        <b>@item.batch_name</b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label>Topic Name:</label>
                        <b>@item.topic_name</b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label>Trainer Name:</label>
                        <b>@item.trainer_name</b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label>Start Date:</label>
                        <b>@item.start_date.ToShortDateString()</b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label>Batch Time:</label>
                        <b>@item.batch_time</b>
                    </div>
                </div>
            </div>





        </div>
        <table class="table table-bordered" style="font-size:small">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Content Name</th>
                    <th>Expected Date</th>
                    <th>Actual Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int j = 1;
                    int totalleactures = 0;
                    int totalpresent = 0;
                    int totalabsent = 0;
                    if (item.attendance.Count() > 0)
                    {
                        foreach (var s in item.attendance)
                        {
                            totalleactures++;
                            string color = "";
                            if (s.is_present == 1)
                            {
                                color = "green";
                                totalpresent = totalpresent + 1;
                            }
                            else
                            {
                                color = "red";
                                totalabsent = totalabsent + 1;
                            }
                            <tr>
                                <td>@i</td>
                                <td>@s.content_name</td>
                                <td>@s.expected_date</td>
                                <td>@s.actual_date</td>
                                <td style="color:@color">@s.attendance</td>

                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
            <tfoot>
                <tr style="background-color:aquamarine">
                    <td colspan="5">
                        @if (totalleactures > 0)
                        {

                            float per = totalpresent * 100 / totalleactures;

                            <div class="row">
                                <div class="col-md-3">
                                    Attendance : <b>@per</b>
                                </div>
                                <div class="col-md-3">
                                    Total Leactures : <b>@totalleactures</b>
                                </div>
                                <div class="col-md-3">
                                    Present Days : <b>@totalpresent</b>
                                </div>
                                <div class="col-md-3">
                                    Absent Days : <b>@totalabsent</b>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            </tfoot>

        </table>

    </div>
    i++;
    <hr />
}



