@model  ERPSystem_Models.StudentModel 
@using ERPSystem_Models;
@{
    ViewData["Title"] = "Student Registration";
    Layout = "~/Areas/Accountant/Views/Shared/AccountantLayout.cshtml";
}
<link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">
<script src="~/lib/jquery/dist/jquery.min.js"></script>
 <style>
    table th {
        position: sticky;
        top: 0;
        z-index: 1;
        border-top: 0;
        background: #ededed;
    }
 </style>

@* @model ERPSystem_Models.StudentModel *@
    @* @{
        ViewData["Title"] = "RegistrationForm";
        Layout = "~/Areas/Accountant/Views/Shared/AccountantLayout.cshtml";
    } *@
<style>
    table {
        font-size: 12px;
    }


    .form-control {
        font-size: 12px
    }

    label {
        font-size: 12px
    }

    span {
        font-size: 12px
    }

    input[type=text] {
        font-size: 12px
    }
</style>
 <script>
     $(document).ready(function () {
         $("#btnadd").click(function () {
             $("#studentmodal").modal("show");
         })
     })
 </script>

<script>
    function Validate() {
        var status = true;

        // validation for student name

        var student_name = $("#student_name").val();
        if (student_name == "") {
            $("#sp_student_name").html("*");
            status = false;
        }
        else {
            var pattern = /^[a-zA-Z ]+$/;
            if (!student_name.match(pattern)) {
                $("#sp_student_name").html("only characters are alllowed");
                status = false;
            }
            else {
                $("#sp_student_name").html("");

            }
        }

        // validation for gender

        var gender = $("#gender").val();
        if ($('input[name="gender"]:checked').length == 0) {
            $("#sp_gender").html("*");
            status = false;
        }
        else {
            $("#sp_gender").html("");
        }

        // validation for qualification

        var qualification = $("#qualification").val();
        if (qualification == "") {
            $("#sp_qualification").html("*");
            status = false;
        }
        else {
            var pattern = /^[a-zA-Z ]+$/;
            if (!qualification.match(pattern)) {
                $("#sp_qualification").html("only characters are alllowed");
                status = false;
            }
            else {
                $("#sp_qualification").html("");

            }
        }



        // validation for qualification

        var birth_date = $("#birth_date").val();
        if (birth_date == "") {
            $("#sp_birth_date").html("*");
            status = false;
        }
        else {

            $("#sp_birth_date").html("");


        }


        // validation for mobile number

        var mobile_number = $("#mobile_number").val();
        if (mobile_number == "") {
            $("#sp_mobile_number").html("*");
            status = false;
        }
        else {
            var pattern = /^[0-9]{10}$/;
            if (!mobile_number.match(pattern)) {
                $("#sp_mobile_number").html("invalid mobile number");
                status = false;
            }
            else {
                $("#sp_mobile_number").html("");

            }
        }

        // validation for email address

        var email_address = $("#email_address").val();
        if (email_address == "") {
            $("#sp_email_address").html("*");
            status = false;
        }
        else {
            var pattern = /^\S+@Html.Raw("@")\S+\.\S+$/;
            if (!email_address.match(pattern)) {
                $("#sp_email_address").html("invalid email address");
                status = false;
            }
            else {
                $("#sp_email_address").html("");

            }
        }
        // validation for parent name

        var parent_name = $("#parent_name").val();
        if (parent_name == "") {
            $("#sp_parent_name").html("*");
            status = false;
        }
        else {
            var pattern = /^[a-zA-Z ]+$/;
            if (!parent_name.match(pattern)) {
                $("#sp_parent_name").html("only characters are alllowed");
                status = false;
            }
            else {
                $("#sp_parent_name").html("");

            }
        }

        // validation for parent number

        var parent_number = $("#parent_number").val();
        if (parent_number == "") {
            $("#sp_parent_number").html("*");
            status = false;
        }
        else {
            var pattern = /^[0-9]{10}$/;
            if (!parent_number.match(pattern)) {
                $("#sp_parent_number").html("invalid parent mobile number");
                status = false;
            }
            else {
                $("#sp_parent_number").html("");

            }
        }

        // validation for registration date

        var registrationdate = $("#registrationdate").val();
        if (registrationdate == "") {
            $("#sp_registrationdate").html("*");
            status = false;
        }
        else {

            $("#sp_registrationdate").html("");


        }

        // validation for qualification

        var feeid = $("#feeid").val();
        if (feeid == "") {
            $("#sp_feeid").html("*");
            status = false;
        }
        else {

            $("#sp_feeid").html("");


        }

        // validation for photo

        var photo = $("#photo").val();
        if (photo == "") {
            $("#sp_photo").html("*");
            status = false;
        }
        else {

            $("#sp_photo").html("");


        }
        return status;
    }


</script>
<style>
    .error {
        color: red;
    }
</style>
<div class="row">
    @* <a href="/Admin/Student/Registrations" style="width:300px" class="btn btn-primary">View Student Registrations</a> *@
    <div class="col-md-3">
    </div>


    <div class="col-md-3">
       
    </div>
</div>

<div class="modal fade" id="studentmodal">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px;">
           
            <div class="modal-body">
                @Html.Partial("~/views/shared/registrationformforguest.cshtml")
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>



<ul class="nav nav-tabs" id="myTab">
    <li class="nav-item">
        <a href="#home" class="nav-link active" data-bs-toggle="tab">Students</a>
    </li>
    <li class="nav-item">
        <a href="#profile" class="nav-link" data-bs-toggle="tab">Guest</a>
    </li>
  @*   <li class="nav-item">
        <input type="button" value="Add Student" class="nav-link" id="btnadd" />

    </li>
    <li class="nav-item">
        <a href="/Accountant/Student/RegistrationForm" class="nav-link">Add Old Student</a>
    </li> *@

</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="home">
        <br />
        <input type="button" value="Add Student" class="btn btn-primary" id="btnadd" />


    
 
        <div class="row">
            <input type="text" class="form-control" id="txtfilter" onclick="filter" placeholder="search student by name,mobile,qualification,course,email address,etc" />
        </div>
        <div class="row">
            <table class="table datatable" style="font-size:small">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Student Name</th>
                        <th>Gender</th>
                        <th>Birth Date</th>
                        <th>Mobile Number</th>
                        <th>Email Address</th>
                        <th>Qualification</th>
                        <th>Student Code</th>
                        <th>Photo</th>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                        List<StudentModel> lst = (List<StudentModel>)ViewData["students"];
                    }
                    @foreach (var item in lst)
                    {


                        <tr>
                            <td>@i</td>
                            <td>@item.student_name</td>
                            <td>@item.gender</td>
                            <td>@item.birth_date.ToShortDateString()</td>
                            <td>@item.mobile_number</td>
                            <td>@item.email_address</td>
                            <td>@item.qualification</td>

                            @if (item.registrations.Count() > 0)
                            {
                                RegistrationModel r = item.registrations.First();
                                <td>@r.course_name</td>

                            }
                            else
                            {
                                <td></td>
                            }

                            <td><img src="~/Students/Profiles/@item.profile_photo" height="30" width="30" /></td>
                            <td>
                                <a href="/Accountant/Student/GetStudentdetails/@item.student_id">View Details</a>
                            </td>

                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="profile">
        <br />

        <a href="/Accountant/Student/RegistrationForm" class="btn btn-primary">Add Old Student</a>


       
       
        <div class="row">
            <input type="text" class="form-control" id="txtfilter" onclick="filter" placeholder="search student by name,mobile,qualification,course,email address,etc" />
        </div>
        <div class="row">
            <table class="table datatable" style="font-size:small">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Student Name</th>
                        <th>Gender</th>
                        <th>Birth Date</th>
                        <th>Mobile Number</th>
                        <th>Email Address</th>
                        <th>Qualification</th>
                        <th>Student Code</th>
                        <th>Photo</th>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int k = 1;
                        List<StudentModel> lsts = (List<StudentModel>)ViewData["guest"];
                    }
                @foreach (var item in lsts)
                    {


                        <tr>
                            <td>@k</td>
                            <td>@item.student_name</td>
                            <td>@item.gender</td>
                            <td>@item.birth_date.ToShortDateString()</td>
                            <td>@item.mobile_number</td>
                            <td>@item.email_address</td>
                            <td>@item.qualification</td>

                            @if (item.registrations.Count() > 0)
                            {
                                RegistrationModel r = item.registrations.First();
                                <td>@r.course_name</td>

                            }
                            else
                            {
                                <td></td>
                            }

                            <td><img src="~/Students/Profiles/@item.profile_photo" height="30" width="30" /></td>
                            <td>
                                <a href="/Accountant/Student/GetStudentdetails/@item.student_id">View Details</a>
                            </td>

                        </tr>
                        k++;
                    }
                </tbody>
            </table>
        </div>
    
    </div>
     
</div>
<script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
