@model ERPSystem_Models.StudentPaymentModel
@using ERPSystem_Models

@{
    ViewData["Title"] = "View Invoices";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<script>
    function PrintInvoice() {
        var printContents = document.getElementById("dv").innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
@{
    StudentModel sm = (StudentModel)ViewData["student"];
    List<StudentPaymentModel> payments = (List<StudentPaymentModel>)ViewData["payments"];
    RegistrationModel reg = (RegistrationModel)ViewData["registration"];
    float paid_amount = @payments.Sum(e => e.payment_amount);
    float remaining_amount = reg.final_fees_amount - (Model.payment_amount + paid_amount);
}
<div class="container-fluid" style="font-size:small">
    <div class="">
        <input type="button" value="Print Invoice" id="btnprint" onclick="PrintInvoice()" />
    </div>
    <div class="card" id="dv">

        <div class="card-body" style="padding:1%">

            <div class="row" style="padding:1%">
                <table>
                    <tr>
                        <td style="width:70%">
                            <img height="70px" src="~/assets/images/mainlogo.png" />

                        </td>
                        <td style="width:30%">

                            <div>Invoice No : <b>@Model.payment_id</b></div>
                            <div>Invoice Date : <b>@Model.payment_date.ToShortDateString()</b></div>
                            <div>GST Number : <b>27AAICC6817A1ZV</b></div>
                            <div>Email : <b>ciitpune@gmail.com</b></div>
                            <div>Mobile : <b>7028565830</b> </div>

                        </td>
                    </tr>
                </table>

            </div>
            <div class="row" style="padding:1%">
                <table>
                    <tr>
                        <td style="width:70%">
                            Branch: CIIT Training Institute Hadapsar
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Address : Office #2, 1st floor, manisha blitz , hadapsar, near shankar math, pune-28
                        </td>
                    </tr>

                </table>
                <div>
                </div>
            </div>
            <div class="row">
                <hr />
            </div>
            <div class="row">
                <h4 style="text-align:center">!! Invoice !!</h4>
            </div>
            <div class="row" style="padding:1%">
                <table>
                    <tr>
                        <td style="width:70%">
                            <p>Student Name:<b>@sm.student_name</b></p>
                            <p>Email Address:<b>@sm.email_address</b></p>
                            <p>Course Name:<b>@reg.course_name</b></p>
                        </td>
                        <td style="width:30%">
                            <p>Mobile Number:<b>@sm.mobile_number</b></p>
                            <p>Total Fees:<b>@reg.final_fees_amount</b></p>
                            <p>Registration Date:<b>@reg.registration_date.ToShortDateString()</b></p>
            </div>
            </tr>
            </table>


        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:right">Payment Date</th>
                        <th>Payment Amount</th>

                    </tr>
                </thead>
                <tbody>
                    <tr style="height:100px;">
                        <td style="text-align:right">@Model.payment_date.ToShortDateString()</td>
                        <td>@Model.payment_amount</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Total Fees:</td>
                        <td>@reg.final_fees_amount</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Todays Paid:</td>
                        <td>@Model.payment_amount</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Previous Payment:</td>
                        <td>@paid_amount</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Remaining Payment:</td>
                        <td>@remaining_amount</td>
                    </tr>
                    <tr>
                        <td colspan="2">Payment Mode:<b>@Model.payment_mode</b></td>
                    </tr>
                    <tr>
                        <td colspan="2">Payment Description:<b>@Model.payment_description</b></td>
                    </tr>
                    <tr>
                        <td colspan="2">Payment Details:<b>@reg.final_fees_amount</b><span>(Fees-<b>@reg.fees_amount</b>, Gst-<b>@reg.gst</b>, Discount-<b>@reg.discount</b>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h4 style="text-align:center">Previous Payments</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Payment Date</th>
                                        <th>Payment Amount</th>
                                        <th>Payment Mode</th>
                                        <th>Description</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int index = 1;
                                    }
                                    @foreach (StudentPaymentModel p in payments)
                                    {
                                        <tr>
                                            <td>@index</td>
                                            <td>@p.payment_date.ToShortDateString()</td>
                                            <td>@p.payment_amount</td>
                                            <td>@p.payment_mode</td>
                                            <td>@p.payment_description</td>

                                        </tr>
                                        index++;
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p><b>Note:</b>  This invoice is valid for every one.This is computerised invoice which is autometically generated by system</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

