@model ERPSystem_Models.BatchModel
@{
    ViewData["Title"] = "Batches";
    Layout = "~/Areas/BatchManagement/Views/Shared/BatchManagementLayout.cshtml";
}
<link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<style>
    .form-control {
        font-size: 12px
    }

    label{
        font-size: 12px
    }

    a {
        font-size: 12px
    }

    span {
        font-size: 12px
    }

    input[type=text] {
        font-size: 12px
    }
</style>
<style>
    table {
        font-size: 12px;
    }


    .form-control {
        font-size: 12px
    }

    label {
        font-size: 12px
    }

    span ,div{
        font-size: 12px
    }

    input[type=text] {
        font-size: 12px
    }

    input[type=checkbox] {
        font-size: 12px
    }
</style>

<script>
    batch_id = 0;
    students = [];
    var allstudents = [];
    function GenerateSchedule(batch_id) {
    
        $.ajax({
            url: '/BatchManagement/Batch/GenerateBatchSchedule/'+batch_id ,
            method:'post',
            success: function (resp) {
                alert(resp);
                window.location.href = "/BatchManagement/Batch/Index";
            }

        })
    }
    function SelectStudent(id) {
        students.push(id);
        console.log(id);
    }
    function ViewStudents(bid) {
        batch_id = bid;
        $.ajax({
            url: '/BatchManagement/Batch/GetTopicWiseStudents/' + bid,
            method:'get',
            success: function (resp) {
                console.log(resp);
                allstudents = resp;
                Display(allstudents);
            }
        })
        $("#studentmodel").modal("show");
    }
    function Display(studentdata) {
        $("#tblstudentdata").empty();

        $.each(studentdata, function(i, d) {
            $("#tblstudentdata").append("<div class='col-md-3'><input type='checkbox' name='chkstudent' onchange='SelectStudent(" + d.registration_id + ")'/> " + d.student_name + "</div>");

        })
    }
    function AddBatchStudents() {
        var data="";
        $.each(students, function (i, d) {
            data += "," + d;
        })
        var st = { "batch_id": batch_id, "registration_ids": data };
        $.ajax({
            url: '/BatchManagement/Batch/AddBatchStudents',
            method:'post',
            data:st,
            success: function (resp) {
                alert(resp);
                $("#studentmodel").modal("hide");
                window.location.href = "/BatchManagement/Batch/Index";

            }
        })
    }

    function FilterStudents() {
        var txt = $("#txtfilter").val();
        $("#tblstudentdata").empty();

        $.each(allstudents, function (i, d) {
            if (d.student_name.toLowerCase().includes(txt.toLowerCase())) {
                $("#tblstudentdata").append("<div class='col-md-3'><input type='checkbox' name='chkstudent' onchange='SelectStudent(" + d.registration_id + ")'/> " + d.student_name + "</div>");
            }
        })
    }
    </script>
 <div class="container-fluid">
             <div class="card">
                 <div class="card-header">
                     <h4>Batch Form</h4>
                 </div>
                 <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    @using (Html.BeginForm())
                    {
                        <div class="mb-3">
                            <label>Batch Name:</label>
                            @Html.TextBoxFor(e => e.batch_name, new { @class = "form-control" })
                        </div>
                        <div class="mb-3">
                            <label>Topic Name:</label>
                            @Html.DropDownListFor(e => e.topic_id,ViewBag.topics as SelectList,"Select Topic", new { @class = "form-control" })
                        </div>
                        <div class="mb-3">
                            <label>Trainer Name:</label>
                            @Html.DropDownListFor(e => e.trainer_id, ViewBag.trainers as SelectList, "Select Trainer", new { @class = "form-control" })

                        </div>
                        <div class="mb-3">
                            <label>Start Date:</label>
                            @Html.TextBoxFor(e => e.start_date, new { @class = "form-control", @type = "date" })
                        </div>
                        <div class="mb-3">
                            <label>End Date:</label>
                            @Html.TextBoxFor(e => e.end_date, new { @class = "form-control" ,@type="date"})
                        </div>
                        <div class="mb-3">
                            <label>Batch Time:</label>
                            @Html.TextBoxFor(e => e.batch_time, new { @class = "form-control", @type = "time" })
                        </div>
                        <div class="mb-3">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                            <h5>@ViewBag.msg</h5>
                            </div>
                    }
                </div>
            
            <div class="col-md-9">
                    <table class="table datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                                <th>Batch Name</th>
                                <th>Topic Name</th>
                            <th>Trainer Name</th>
                            <th>Start Date</th>
                                <th>End Date</th>
                                <th>Batch Time</th>
                                <th>#Students</th>
                                <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach(var item in ViewBag.batches)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.batch_name</td>
                                    <td>@item.topic_name</td>
                                    <td>@item.trainer_name</td>
                                    <td>@item.start_date.ToShortDateString()</td>
                                    <td>@item.end_date.ToShortDateString()</td>
                                    <td>@item.batch_time</td>
                                    <td>@item.student_count</td>
                                    <td>
                                        @if (!item.is_schedule_generated)
                                        {
                                            <input style="font-size:12px;" type="button" value="Generate Schedule" onclick="GenerateSchedule(@item.batch_id)" class="btn btn-sm btn-primary" />
                                        }
                                        else
                                        {
                                        <a  style="font-size:12px;" href="/BatchManagement/Batch/ViewBatchSchedule/@item.batch_id" class="btn btn-sm btn-primary">View Schedule</a>    
                                        }
                                        <input type="button" id="btnaddstudents" value="Add Students" onclick="ViewStudents(@item.batch_id)"  style="font-size:12px;" />
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                </table>
            </div>
            </div>
        </div>
                
             
        
    </div>


</div>
<div class="modal fade" id="studentmodel" tabindex="-1" data-bs-backdrop="false">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Students</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="text" id="txtfilter" onkeyup="FilterStudents()" />
                </div>
                <div class="row" id="tblstudentdata">
                    
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button"   class="btn btn-primary" onclick="AddBatchStudents()">Add Students</button>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    